.artist-image{
    display: none;
}
.artist-test{
    z-index: 2;
}
.artist-info{
    margin-top: 60px;
}
.artist-highlight{
    color: white;
    font-weight: bold;
}
.btn.follow{
    color: white;
    border-color: rgba(255,255,255,.3);
    padding: 2px 10px;
    height: 32px;
    margin-top: 10px;
}
.btn.follow:hover{
    color: white;
    border-color: white;
}
.btn.follow-phone{
    display: none;
    color: white;
    border-color: rgba(255,255,255,.3);
    padding: 2px 10px;
    height: 32px;
    margin-top: 10px;
}
.btn.follow-phone:hover{
    color: white;
    border-color: white;
}
.artist-popular{
    font-weight: bold;
}
.share-follow{
    fill: white;
    margin-left: 20px;
    margin-top: 5px;
    display: none;
}
@media screen and (max-width: 800px){
    .artist-image{
        display: block;
        width: 288px;
        height: 288px;
        border-radius: 50%;
        position: relative;
        top: 170px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .playlist-title.artistic{
        margin-left: -20px;
    }
    .playlist-description-2.artistic{
        margin-left: -20px;
    }
    .btn.follow{
        display: none;
    }
    .btn.follow-phone{
        display: block;
        margin-left: -10px;
        margin-top: 0px;
    }
    .share-follow{
        display: block;
    }
    .artist-popular{
        margin-left: 10px;
    }
}