.cards{
    width: 180px;
    height: 258px;
    border-radius: 5px;
    background-color: #181818;
    margin-right: 24px;
    padding: 15px;
    z-index: 0;
    transition: background-color 0.5s;
}
.cards:hover{
    background-color: #242424;
}
.img-border{
    background-color: black;
    border-radius: 5px;
    height: 150px;
    width: 150px;
}
.cardtitle{
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin: 15px 0px 0px 0px;
    padding: 0px;
}
.cardtext{
    color: grey;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playbutton{
    z-index: 10;
    position: absolute;
    height: 49px;
    width: 49px;
    background-color: #1ed760;
    border-radius: 50%;
    padding: auto;
    margin-top: 100px;
    margin-left: 90px;
    opacity: 0%;
    transition: margin 0.5s, opacity 0.5s;
}
.cards:hover .playbutton{
    border-radius: 50%;
    padding: auto;
    margin-top: 90px;
    margin-left: 90px;
    opacity: 100%;
}
.playicon{
    width: 24px;
    height: 24px;
    margin: auto;
    margin-top: 9px;
    position: relative;
}