.title{
    margin-left: 32px;
    font-weight: bold;
}
.card-placement{
    margin-left: 32px;
    margin-right: 32px;
    width: 85%;
    overflow: hidden;
}
.pad{
    padding-bottom: 16px;
}
.test{
    padding-top: 24px;
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: white;
    text-decoration: underline;
}
.description{
    margin-left: 32px;
    color: grey;
    padding: 0px;
}
@media screen and (max-width: 800px){
    .card-placement{
        overflow: scroll;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        position: relative;
    }
    .card-placement::-webkit-scrollbar{
        display: none;
    }
}